<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title"> <%= @post.title %> </h5>
    <p class="card-text"> <%= @post.body %> </p>

    <div class="row">
      <%  @post.images.each do |image| %>
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
            <%= image_tag(image, style: 'width:100%; height:auto') %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br />
<%= render 'comments/pdf_index' %>
